Repository minimabot/langbot: changes, and which lefthook commands are due for each by the changed paths.
All: haml, scss/css, js, ruby, html/json/yaml/yml

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    haml:
      glob: '*.haml'
      run: bundle exec haml-lint {staged_files}
    scss/css:
      glob: '*.{scss,css}'
      run: pnpm stylelint {staged_files}
    js:
      glob: '*.js'
      run: pnpm eslint {staged_files}
    ruby:
      glob: '*.rb'
      exclude: 'db/schema.rb'
      run: bundle exec rubocop --parallel {staged_files}
    html/json/yaml/yml:
      glob: '*.{html,json,yaml,yml}'
      run: pnpm prettier {staged_files}

Format and lint entire source code
  Gemfile
  Rakefile
  app/javascript/application.js
  app/javascript/controllers/application.js
  app/javascript/controllers/hello_controller.js
  app/javascript/controllers/index.js
  app/mailers/application_mailer.rb
  app/views/layouts/application.html.haml
  app/views/layouts/mailer.html.haml
  bin/bundle
  bin/importmap
  bin/rails
  bin/rake
  bin/setup
  config.ru
  config/application.rb
  config/boot.rb
  config/environment.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/importmap.rb
  config/initializers/assets.rb
  config/locales/en.yml
  config/puma.rb
  config/routes.rb
  config/storage.yml
  public/404.html
  public/422.html
  public/500.html
  test/application_system_test_case.rb
  test/channels/application_cable/connection_test.rb
  test/test_helper.rb
Due: haml, js, ruby, html/json/yaml/yml

Use SSL with custom domain for localhost
  .gitignore
  Procfile.dev
  config/environments/development.rb
Due: ruby

Separate routes into admin, www subdomains
  app/controllers/admin/application_controller.rb
  app/controllers/client/application_controller.rb
  app/views/admin/application/index.html.haml
  app/views/client/application/index.html.haml
  config/environments/development.rb
  config/routes.rb
Due: haml, ruby

Add stylelint rule for BEM
  .stylelintrc.json
Due: html/json/yaml/yml

Improve development environment setup
  Rakefile
  package.json
Due: html/json/yaml/yml

Migrate from Minitest to RSpec with Factory Bot
  .rspec
  .rubocop.yml
  Gemfile
  Gemfile.lock
  spec/rails_helper.rb
  spec/spec_helper.rb
  test/application_system_test_case.rb
  test/channels/application_cable/connection_test.rb
  test/controllers/.keep
  test/fixtures/files/.keep
  test/helpers/.keep
  test/integration/.keep
  test/mailers/.keep
  test/models/.keep
  test/system/.keep
  test/test_helper.rb
Due: ruby, html/json/yaml/yml

Add Letter Opener
  Gemfile
  Gemfile.lock
  config/environments/development.rb
Due: ruby

Change applicaiton timezone config
  config/application.rb
Due: ruby
